@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes zoomGradientToWhite {
  0% {
    transform: scale(1); /* Normal size */
  }
  50% {
    transform: scale(1.1); /* Zoom in */
  }
  80% {
    transform: scale(1); /* Zoom out */
  }
  100% {
    transform: scale(1); /* Final normal size */
  
  }
}

.animate-zoom-gradient {
  animation: zoomGradientToWhite 4s infinite; /* 3 seconds, ends with final state */
}
